/*
  Layout
*/

#container {
/*  width: 100%;*/
  position: relative;
}

#welcomePanel, #arrayPanel, #sensorPanel, 
#mapPanel, #sensorinfoPanel, #scannerPanel {
  display: none;
}

/*
  Panels and overlays.
*/

.overlay {
}
.overlay p {
  background: rgba(255,255,255,0.6);
  color: #000;
}

.panel {
/*  background: rgba(0,0,0,0.75);*/
  color: #ccc;
}
.panel a {
  color: #fff;
}

/* 
  Status bar/main menu
*/

#statusBar {
  background: #336699;
  color: #ffffff;
  margin: 0;
  padding-top: 0;
  padding-right: 0.5em;
  padding-bottom: 0;
  padding-left: 0.5em;
}
#statusBar a {
  color: #ffffff;
  text-decoration: none;
}
#statusBar h1 {
  display: inline;
  float: left;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding-top: 0;
  padding-right: 0.5em;
  padding-bottom: 0;
  padding-left: 0;
}

#statusBar ul.menu {
/*  margin: 0;*/
/*  padding: 0;*/
}
#statusBar .menu li {
  display: inline;
  float: left;
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

#debugPanel {
  display: none;
  background: #6699aa;
  color: #ffffff;
}

/*
  Welcome screen and map/array views.
*/

#welcomePanel {
}

#arrayPanel {
}

#mapPanel {
}

#mapSvg {
}
#mapCanvas {
/*  position:absolute;*/
  z-index:2000;
}

/*
  Sensor view.
*/

#sensorPanel {
}
#sensorPanel a {
  color: #ffffff;
/*  font-weight: bold;*/
}

#scrubberInfo {
  color: #ffffff;
}

#sensorinfoPanel {
}

/*
  Scanner view.
*/

#scannerPanel {
}

#scannerInfo {
  font-style: italic;
}